@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BlenderPro";
    src: local('BlenderPro'), url(/static/fonts/BlenderPro-Book.woff2) format("woff2");
  font-weight: 400;
}
@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
@font-face {
  font-family: "BlenderPro";
  src: local('BlenderPro'), url(/static/fonts/BlenderPro-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "BlenderPro";
  src: local('BlenderPro'), url(/static/fonts/BlenderPro-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "BlenderPro";
  src: local('BlenderPro'), url(/static/fonts/BlenderPro-Heavy.woff2) format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Outfit";
    src: local('Outfit'), url(/static/fonts/Outfit-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: local('Outfit'), url(/static/fonts/Outfit-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: local('Outfit'), url(/static/fonts/Outfit-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: local('Outfit'), url(/static/fonts/Outfit-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: local('Outfit'), url(/static/fonts/Outfit-Bold.woff2) format("woff2");
  font-weight: 700;
}

:root{
  --heroVidScale: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 1.5s linear forwards;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    z-index: -100;
    @apply bg-white dark:bg-black;
  height: 100%;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-overflow{
  overflow: hidden !important;
}

.pr-hide{
  transform: translateY(-100vh);
}

.focus{
  @apply text-[#000] dark:text-[#fff] !important;
  @apply border-black dark:border-white !important;
}

.heroVid{
  -webkit-transform: translateZ(0);
  transform: scale(var(--heroVidScale)) !important;
}

.heroDiv{
  transform: translateZ(0);
}

.timeline-wrapper{
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(300px);
}

.timeline-item{
  scroll-snap-align: start;
}

.video-block {
-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.scrollTop{
  transform: translate3d(0, -16rem, 0);
}

.Image{
  padding: 32px !important;
  position: none !important;
  min-width: 0% !important;
  min-height: 0% !important;
  width: 100% !important;
  height: 100% !important;
}

.Image-smaller{
  position: none !important;
  min-width: 0% !important;
  min-height: 0% !important;
  width: 100% !important;
  height: 100% !important;
}

.tl-image-wrapper {
  overflow: hidden;
  position: relative;
  @apply w-[205px] md:w-[307.5px] xl:w-[415px];
  aspect-ratio: 615 / 903;
}

.tl-image {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.tl-image-cont{
  max-height: 100% !important;
  aspect-ratio: 615 / 903;
}

.tl-image-box{
  @apply bg-white dark:bg-black;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  transition: transform 1s ease-out 0s;
}

.box-animate{
  transform: translateY(120%) !important;
}

.text-drop{
  transform: translateY(0) !important;
}

.animEasing{
  transition: transform 1s ease-out 0.05s  ;
}

.opacity-visible{
  opacity: 1;
}

.tl-right{
  transition: opacity 0.5s ease-out 0s;
}

.tl-left{
  transition: opacity 0.7s ease-out 0s;
}

 .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
 .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 1000px;
  width: calc(100% - 100px);
  height: 450px;
}
@media screen and (max-width: 718px) {
   .options {
    min-width: 520px;
  }
   .options .slider-option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
   .options {
    min-width: 440px;
  }
   .options .slider-option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
   .options {
    min-width: 360px;
  }
   .options .slider-option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
   .options {
    min-width: 280px;
  }
   .options .slider-option:nth-child(2) {
    display: none;
  }
}
 .options .slider-option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  max-width: 60px;
  margin: 10px;
  background: #ED5565;
  background-size: auto 120%;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 .options .slider-option:nth-child(1) {
  --defaultBackground:#ED5565;
}
 .options .slider-option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
 .options .slider-option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
 .options .slider-option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
 .options .slider-option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
 .options .slider-option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
 .options .slider-option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 900px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
 .options .slider-option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
 .options .slider-option.active .label {
  bottom: 20px;
  left: 20px;
}
 .options .slider-option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
 .options .slider-option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
 .options .slider-option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
 .options .slider-option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
 .options .slider-option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
 .options .slider-option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 .options .slider-option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 .options .slider-option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
 .options .slider-option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
 .options .slider-option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
 .options .slider-option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
 .options .slider-option .label .info .sub {
  transition-delay: 0.1s;
}

.slider-first{
  background: url(/static/images/renderFull.png) !important;
  background-size: auto 120% !important;
  background-position: center !important;
}

.slider-second{
  background: url(/static/images/renderFull2.png) !important;
  background-size: auto 120% !important;
  background-position: center !important;
}

.slider-third{
  background: url(/static/images/renderFull3.png) !important;
  background-size: auto 120% !important;
  background-position: center !important;
}

.slider-fourth{
  background: url(/static/images/renderFull4.png) !important;
  background-size: auto 120% !important;
  background-position: center !important;
}

.site-col:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  @apply outline-2 outline-dashed outline-white/25 dark:outline-black/25 z-50;
}

.main-slider{
  @apply font-Outfit font-normal text-lg text-white;
}
.sub-slider{
  @apply font-Outfit font-light text-base text-[#d1d1d1] -mt-2;
}

footer {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}